.header

  .top
    .top__logo
      = image_tag '/images/logo.png', height: '100px', width: '100px', class: 'top__logo__img'
      .top__logo__title ビジネスマッチングサイト

  %ul.navi
    %li.navi__list
      = fa_icon 'search', class: 'icon', type:'submit', fa_icon: 'search'
      %a.navi__list__name 
        検索
    
    %li.navi__list
      %a.navi__list__name セミナー情報
    -unless user_signed_in?
      %li.navi__list
        = link_to "/users/sign_up" do
          .navi__list__name 新規登録

      %li.navi__list
        = link_to "/users/sign_in" do
          .navi__list__name ログイン
    -else
      %li.navi__list
        = link_to "/users/sign_in" do
          .navi__list__name 投稿

      %li.navi__list
        = link_to "/users/sign_in" do
          .navi__list__name ログアウト