= render "shared/header"
.contents
  - @posts.each do |post|
    .box
      .box__title
        %span.title= post.title
        .box__main
          .box__main__image
            %img{:src => post.image, :width => "200px", :height => "200px"}

          .box__main__form
            .box__main__form__name 希望取引 : 
            = simple_format(post.business)

          .box__main__form
            .box__main__form__name 希望地域 : 
            = simple_format(post.area)

          .box__main__form
            .box__main__form__text
              = simple_format(post.text)