%h2.signup 新規登録

.signupmain
  = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = render "devise/shared/error_messages", resource: resource

    .field
      = f.label :会社名
      %br/
      = f.text_field :name, class: "newform", autofocus: true, placeholder: '例) 株式会社◯◯'

    .field
      = f.label :Eメール
      %br/
      = f.email_field :email, class: "newform", autofocus: true, autocomplete: "email"

    .field
      = f.label :パスワード
      - if @minimum_password_length
        %em
          (#{@minimum_password_length}文字以上)
      %br/
      = f.password_field :password, class: "newform", autocomplete: "new-password"

    .field
      = f.label :パスワード再確認
      %br/
      = f.password_field :password_confirmation, class: "newform", autocomplete: "new-password"

    .field
      = f.label :業種
      %br/
      = f.select :indutry_type, [ ["農林漁業"], ["鉱業"] , ["建設業"], ["製造業"], ["電気・ガス・熱供給・水道業"], ["情報通信業"], ["運輸業・郵便業"], ["卸売業・小売業"], ["金融業・保険業"], ["宿泊業・飲食サービス業"], ["生活関連サービス業・娯楽業"], ["教育・学習支援業"], ["医療・福祉業"], ["複合サービス事業	"], ["サービス業"], ["公務"]], prompt: "業種を選択してください"

    .field
      = f.label :設立年月日
      %br/
      != sprintf(f.date_select(:foundation_date, with_css_classes:'h-select-default', prompt:"--",use_month_numbers:true, start_year:Time.now.year, end_year:1900, date_separator:'%s'),'年','月')+'日'

    .field
      = f.label :資本金
      %br/
      = f.text_field :capital, class: "numberform", autofocus: true
      万円

    .field
      = f.label :従業員数
      %br/
      = f.text_field :employee_number, class: "numberform", autofocus: true
      名

    .field
      = f.label :都道府県
      %br/
      = f.collection_select :prefectures_id, Prefecture.all, :id, :name

    .field
      = f.label :住所
      %br/
      = f.text_field :address, class: "newform", autofocus: true, placeholder: '例）〇〇市〇〇町1-1-1'

    .field
      = f.label :電話番号
      %br/
      = f.text_field :phone_number, class: "newform", autofocus: true, placeholder: 'ハイフン不要'

    .actions
      = f.submit "新規登録", class: "signupnew"
      
    .loginbtn
      = render "users/shared/links"
